<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title *ngIf="userInfo">
      {{userInfo.userName}}
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only qrcode>
        <ion-icon name='qr-scanner'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="userInfo" padding>
  <my-img [src]="userInfo.profileImageUri" [placeholder]="'assets/dummy-account.png'" class="user-image"></my-img>
  <p>@{{userInfo.userName}}</p>
  <p>{{userInfo.displayName}}</p>
  <ion-list>
    <ion-list-header>現在使用中</ion-list-header>
    <ion-item *ngFor="let u of usings" (click)="push(u)">
      {{u.objectTag.name}} {{u.startAt}} ~ {{u.endAt}}
    </ion-item>
    <ion-item *ngIf="!usings || !usings.length">
      なし
    </ion-item>

  </ion-list>
  <ion-list>
    <ion-list-header>予約中</ion-list-header>
    <ion-item *ngFor="let r of reservations" (click)="push(r)">
      {{r.objectTag.name}} {{r.startAt}} ~ {{r.endAt}}
    </ion-item>

    <ion-item *ngIf="!reservations || !reservations.length">
      なし
    </ion-item>
  </ion-list>
</ion-content>
<ion-content *ngIf="!userInfo" >
  <ion-spinner></ion-spinner>
</ion-content>