<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title *ngIf="category == null && searchObjects == null">
      物品一覧
    </ion-title>
    <ion-title *ngIf="category != null && searchObjects == null">
      物品一覧 - {{category.name}}
    </ion-title>

    <ion-title *ngIf="searchObjects != null">
      検索結果
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only qrcode>
        <ion-icon name='qr-scanner'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-searchbar (ionInput)="onInput($event)" (ionCancel)="onCancel($event)" (ionClear)="onClear($event)"></ion-searchbar>
</ion-header>

<ion-content>

  <ion-refresher pulling-text="スワイプして更新" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  
  <ion-list *ngIf="objects != null && searchObjects == null && !serverError && !networkError">
    <ion-item *ngFor="let obj of objects" (click)="push(obj)">
      {{obj.name}}
    </ion-item>
  </ion-list>

  <ion-list *ngIf="searchObjects != null">
    <ion-item *ngFor="let obj of searchObjects" (click)="push(obj)">
      {{obj.name}}
    </ion-item>
  </ion-list>

  <my-error-card [networkError]="networkError" [serverError]="serverError"></my-error-card>
</ion-content>