<ion-header>
  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      物品登録
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <form (ngSubmit)='post()'>
      <ion-item>
        <ion-label color='primary'>物品名</ion-label>
        <ion-input placeholder="Text Input" [(ngModel)]="register.name" name="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label color='primary'>カテゴリ</ion-label>
        <ion-select *ngIf="categories" [(ngModel)]="register.category" name="category">
          <ion-option *ngFor="let category of categories" [value]="category.id">{{category.name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label color='primary'>場所</ion-label>
        <ion-input placeholder="Text Input" [(ngModel)]="register.place" name="place"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color='primary'>説明</ion-label>
        <ion-input placeholder="Text Input" [(ngModel)]="register.description" name="description"></ion-input>
      </ion-item>
      <button ion-button [disabled]="register.name.length == 0 && register.category != -1 && !error" type="submit" block>物品登録</button>
    </form>
  </ion-list>
</ion-content>