<ion-menu [content]="content" *ngIf="login">
  <ion-content>
    <ion-item no-lines *ngIf="profile">
      <ion-avatar item-left>
        <my-img [src]="profile.profileThumbnailImageUri" [placeholder]="'assets/dummy-account.png'"></my-img>
      </ion-avatar>
      <p>{{profile.userName}}</p>
      <p>{{profile.displayName}}</p>
    </ion-item>
    <ion-list>
      <button ion-item (click)="clearPageStack()" menuClose>
        マイページ
      </button>
      <button ion-item (click)="openPage(categoryListPage)" menuClose>
        物品一覧
      </button>
      <button ion-item (click)="openPage(userListPage)" menuClose>
        ユーザー一覧
      </button>
      <button ion-item (click)="openPage(licensePage)" menuClose>
        ライセンス
      </button>

    </ion-list>
  </ion-content>
</ion-menu>

<ion-nav id="nav" #content [root]="rootPage"></ion-nav>