@model ExternalLoginConfirmationViewModel
@{
    ViewData["Title"] = "ユーザー登録";
}

<h2>@ViewData["Title"]</h2>
<h3>ユーザー名の作成</h3>

<form asp-controller="Account" asp-action="ExternalLoginConfirmation" asp-route-returnurl="@ViewData["ReturnUrl"]" asp-route-isClientLogin="@ViewData["IsClientLogin"]" method="post" class="form-horizontal">
    <div asp-validation-summary="All" class="text-danger"></div>

    <p class="text-info">
        <strong>@ViewData["LoginProvider"]</strong>経由での登録が完了しました。このWebサイトで使うユーザー名を入力してください。
    </p>
    <div class="form-group">
        <label asp-for="UserName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-success">登録</button>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
